.custom-navigation {
    text-align: center;
    margin-bottom: 50px;
}

.custom-navigation--item.level-one {
    position: relative;
}

.custom-navigation-wrapper,
.custom-navigation--wrapper-inner {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    text-align: left;
    width: 100%;
    text-align: center;
    z-index: 10;
    -webkit-box-shadow: 0px 3px 3px #ebebeb;
    -moz-box-shadow: 0px 3px 3px #ebebeb;
    box-shadow: 0px 3px 3px #ebebeb;
}

.custom-navigation--item.level-one:hover>.custom-navigation-wrapper,
.custom-navigation--item.level-three,
.custom-navigation--item.level-two {
    display: inline-block;
}

.custom-navigation--item.level-two:hover>.custom-navigation--wrapper-inner {
    display: block;
}

.custom-navigation--item {
    padding: 5px 15px;
}

.custom-navigation--item.level-three a {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.custom-navigation img {
    width: 250px;
}

.custom-navigation--item span {
    position: absolute;
    color: #ffffff;
}

.custom-navigation--item a {
    font-size: 16px;
    font-weight: 700;
}

.custom-navigation--item.level-three a {
    -webkit-text-shadow: 0px 2px 5px #000000;
    -moz-text-shadow: 0px 2px 5px #000000;
    text-shadow: 0px 2px 5px #000000;
}