{% for product in collection.products limit: 6 %}
  <div class="product-item {% cycle "group1": "first", "", "", "last" %}"></div>
{% endfor %}

{% for product in collection.products limit: 4 %}
  <div class="product-item {% cycle "group2": "first", "", "", "last" %}"></div>
{% endfor %}