{% if page.content != blank %}
  <div class="rte">
    {{ page.content }}
  </div>
{% else %}
  <div class="rte">
    The page content is currently pending. Please check again shortly.
  </div>
{% endif %}