{% if page.content.size > 100 %}
  <div class="rte">
    {{ page.content }}
  </div>
{% elsif page.content.size < 100 %}
  <div class="rte">
    Our content writers are making the final touches, and the page content will be available shortly. 
{% else %}
  <div class="rte">
    The page content is currently pending. Please check again soon.
  </div>
{% endif %}