{% if page.content.size > 100 %}
  <div class="rte">
    {{ page.content }}
  </div>
{% elsif page.content.size < 100 and page.content != blank %}
  <div class="rte">
    Our content writters are making final touches, and the page content will be available shortly. 
  </div>
{% else %}
  <div class="rte">
    The page content is currently pending. Please check again soon.
  </div>
{% endif %}