<div class="product-count">
  <div id="product-item-{% increment counter %}"></div>
  <div id="product-item-{% increment counter %}"></div>
  <div id="product-item-{% increment counter %}"></div>
</div>